Checks:
  'bugprone-assert-side-effect
  ,bugprone-assignment-in-if-condition
  ,bugprone-bool-pointer-implicit-conversion
  ,bugprone-branch-clone
  ,bugprone-casting-through-void
  ,bugprone-inc-dec-in-conditions
  ,bugprone-incorrect-roundings
  ,bugprone-infinite-loop
  ,bugprone-integer-division
  ,bugprone-macro-parentheses
  ,bugprone-macro-repeated-side-effects
  ,bugprone-misplaced-operator-in-strlen-in-alloc
  ,bugprone-misplaced-pointer-arithmetic-in-alloc
  ,bugprone-misplaced-widening-cast
  ,bugprone-multi-level-implicit-pointer-conversion
  ,bugprone-multiple-statement-macro
  ,bugprone-non-zero-enum-to-bool-conversion
  ,bugprone-not-null-terminated-result
  ,bugprone-redundant-branch-condition
  ,bugprone-signed-char-misuse
  ,bugprone-sizeof-expression
  ,bugprone-string-literal-with-embedded-nul
  ,bugprone-suspicious-enum-usage
  ,bugprone-suspicious-include
  ,bugprone-suspicious-memory-comparison
  ,bugprone-suspicious-memset-usage
  ,bugprone-suspicious-missing-comma
  ,bugprone-suspicious-realloc-usage
  ,bugprone-suspicious-semicolon
  ,bugprone-suspicious-string-compare
  ,bugprone-swapped-arguments
  ,bugprone-switch-missing-default-case
  ,bugprone-terminating-continue
  ,bugprone-too-small-loop-variable
  ,bugprone-undefined-memory-manipulation
  ,bugprone-unsafe-functions
  ,misc-confusable-identifiers
  ,misc-definitions-in-headers
  ,misc-header-include-cycle
  ,misc-header-include-cycle
  ,misc-misleading-identifier
  ,misc-misplaced-const
  ,misc-no-recursion
  ,misc-redundant-expression
  ,misc-static-assert
  ,misc-unused-parameters
  ,performance-enum-size
  ,readability-avoid-unconditional-preprocessor-if
  ,readability-braces-around-statements
  ,readability-duplicate-include
  ,readability-else-after-return
  ,readability-function-size
  ,readability-implicit-bool-conversion
  ,readability-inconsistent-declaration-parameter-name
  ,readability-isolate-declaration
  ,readability-misleading-indentation
  ,readability-misplaced-array-index
  ,readability-named-parameter
  ,readability-redundant-control-flow
  ,readability-redundant-declaration
  ,readability-redundant-function-ptr-dereference
  ,readability-redundant-preprocessor
  ,readability-simplify-boolean-expr
  ,readability-suspicious-call-argument
  ,readability-uppercase-literal-suffix'

CheckOptions:
  readability-function-size.LineThreshold: 150
