# wildcard ignores
bin/**/*
cross-compiler/**/*
doc/**/*
fs/**/*
log/**/*
**/.bin/**/*
*.elf
*.iso

# specific files
scripts/FontForge-2020-11-07-21ad4a1-x86_64.AppImage
scripts/avenixel.zip
os.sublime-project
os.sublime-workspace
